<div class="medium-wide hori-centered" id="static-nav-container">
	<div class="flex-container medium-wide" id="parts-container">
		<div class="one-third-box button-box padded-box enabled-box">
			{% if meta.title != "Framsida" %}
			<div class="parts-illustration-small">
			{% else %}
			<div class="parts-illustration">
			{% endif %}
				<img src="{{ theme_url }}/gfx/wiki-logo.png"/>
			</div>
			<h2>Fagwiki</h2>
			{% if meta.title == "Framsida" %}
			<p>Lær mer om overvannshåndtering, eller bidra til å gjøre fagwikien rikere</p>
			{% endif %}
			<a href="http://wiki.ovase.no/">
				<span class="link-spanner"/>
			</a>
		</div>
		<div class="one-third-box button-box padded-box enabled-box">
			{% if meta.title != "Framsida" %}
			<div class="parts-illustration-small">
			{% else %}
			<div class="parts-illustration">
			{% endif %}
				<img src="{{ theme_url }}/gfx/city-logo.png"/>
			</div>
			<h2>Prosjekter</h2>
			{% if meta.title == "Framsida" %}
			<p>Bli inspirert av eksisterende norske overvannsanlegg</p>
			{% endif %}
			<a href="http://proto.ovase.no/prosjekter">
				<span class="link-spanner"/>
			</a>
		</div>
		<div class="one-third-box button-box padded-box enabled-box">
			{% if meta.title != "Framsida" %}
			<div class="parts-illustration-small">
			{% else %}
			<div class="parts-illustration">
			{% endif %}
				<img src="{{ theme_url }}/gfx/actor-logo.png"/>
			</div>
			<h2>Aktører</h2>
			{% if meta.title == "Framsida" %}
			<p>Finn bransjeaktører som jobber med overvannshåndtering</p>
			{% endif %}
			<a href="http://proto.ovase.no/akteur">
				<span class="link-spanner"/>
			</a>
		</div>
	</div>
</div>